.page {
    color: white;
    background-color: rgba(255, 245, 238, 0.37);
    width: 90%;
    border-radius: 10px;
    padding: 2%;
    /* you can use stuff from other modules with "composes" */
}

.form_text {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 16px;
}

.warning{
    color: red;
}